/* ABOUT PROGRAM */

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #D9E4EC;
    color: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0px 12px rgba(40, 128, 185, 0.5) inset;
}

#about-program {
    padding-left: 8rem;
    padding-right: 8rem;
}

#about-program h2 {
    margin-top: 10rem;
    font-size: 5rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 1;
    color: #26AE60;
}

.about-program-content {
    padding-left: 10rem;
    padding-right: 10rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    margin-top: 2rem;
}

.about-program-content p {
    text-align: justify;
    font-size: 1.5rem; /* 30px */
    line-height: 2rem; /* 36px */
    margin-bottom: 0.75rem; /* 12px */
}

.about-program-card-stack {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    height: 35vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 1rem;
    border-radius: 4rem;
    background: rgb(26,38,46);
    background: linear-gradient(152deg, rgba(26,38,46,1) 0%, rgba(17,17,17,1) 100%);
    max-width: 33.33%;
    min-width: 33.33%;
    align-items: center;
    text-align: center;
    padding: 1.5rem; /* 40px */
}

.card-title {
    color: #26AE60;
    font-size: 2.25rem;
}

.card-content {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    color: #D9E4EC;
    font-size: 1.5rem;
    text-align: center;
    word-wrap: normal;
}

.card-text-highlight {
    font-size: 4rem;
}

.card-text-long {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    color: #D9E4EC;
    text-align: center;
}

.about-program-card-list {
    font-size: 1rem;
    list-style-type: circle;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 1.8rem;
}


