/* ABOUT PAGE  */

#page6 {  
  height: 50vh;
  width: 100%;
  background-color: #2ECC71;
  display: flex;
  justify-content: space-evenly;  
}

#about-us {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#about-us-button-stack{
  display: flex;
  flex-direction: row;  
}

#about-us h2{  
  margin-top: 7rem;
  font-size: 5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  color: #D9E4EC;
}

.learn-more{
  color: white;
  padding-left: 5rem;
  padding-right: 10rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
}

  
.about-us-button {
  display: block;
  align-self: auto;
  margin: 0.5rem;

  /* Font Style  */
  font-size: 2rem;
  line-height: 2.5rem;
  color: white;
  white-space: nowrap; 
  align-items: center;

  /* Button Style  */
  border-radius: 50px;
  border: 5px solid #D9E4EC;  
  padding: 10px 20px;
  background-color: #2ECC71;
  transition: transform 0.3s, box-shadow 0.3s;
}

.about-us-button:hover {
  transform: translateY(-5px);
  /* box-shadow: 0px 20px 12px rgba(40, 128, 185, 0.5); */
}