/* ABOUT PAGE  */

#page7 {  
  height: 60vh;
  width: 100%;
  background-color: #2ECC71;
  display: flex;
  justify-content: space-evenly;  
}

#about-us {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#about-us-button-stack{
  display: flex;
  flex-direction: row;  
}

#about-us h2{  
  /* padding-left: 3rem; */
  margin-top: 7rem;
  font-size: 5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  color: #D9E4EC;
}

.about-us-email{
  color: white;
  /* padding-left: 5rem; */
  padding-right: 10rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
}

.about-us-email a{
  color: #2880B9;
  font-weight: 500;
  transition: all 0.5s ease;
}

.about-us-email a:hover{
  font-size: 2rem;
  text-decoration: underline;
}


.learn-more{
  margin-top: 2rem;
  color: white;
  /* padding-left: 5rem; */
  padding-right: 10rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
}

  
.about-us-button {
  display: block;
  align-self: auto;
  margin: 0.5rem;

  /* Font Style  */
  font-size: 2rem;
  line-height: 2.5rem;
  color: white;
  white-space: nowrap; 
  align-items: center;
  text-align: center;

  /* Button Style  */
  border-radius: 50px;
  border: 5px solid #D9E4EC;  
  padding: 10px 20px;
  background-color: #2ECC71;   
  
  /* Transition Effects */
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.5s ease, border-color 0.2s ease, background-image 0.5s ease;
}

.about-us-button:hover {
  transform: translateY(-5px);
  background-color: #2880B9; 
  border-color: #2880B9; 
}



