/* DOMAIN PAGE  */

#page4 {
  height: 100vh;
  width: 100%;
  flex-grow: 1;
  background-color: #26AE60;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  padding: 0 10rem;  
}

.domain-title{
  margin-top: 5rem;
  margin-left: 5rem;
  font-size: 5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  color: #D9E4EC;
}

.box-small {
  height: 100%;
  width: 100%;
  color: #D9E4EC;
  text-align: center;
  justify-content: center;
}    

.domain-svg{
  transition: all 0.5s ease;
  width:100%;
  height:100%;
  fill:#D9E4EC;
}

.domain-svg:hover{
  fill:#3498DB;
}

/* GRID LAYOUT  */

#grid1 {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 125px;
}
   
.domain1 { grid-area: 1 / 2 / 2 / 3; text-align: center;}
.domain2 { grid-area: 1 / 4 / 2 / 5; text-align: center;}
.domain3 { grid-area: 2 / 1 / 3 / 2; text-align: center;}
.domain4 { grid-area: 2 / 3 / 3 / 4; text-align: center;}
.domain5 { grid-area: 2 / 5 / 3 / 6; text-align: center;}
.domain6 { grid-area: 3 / 2 / 4 / 3; text-align: center;}
.domain7 { grid-area: 3 / 4 / 4 / 5; text-align: center;}
 
