* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Fira Sans', sans-serif;  
  margin: 0;
  padding: 0;
  overflow-x: hidden;  
  display: flex;
  flex-direction: column;  
}

#page-is-flex{  
  flex-grow: 5;
  flex-direction: column;  
  align-items: center;  
}

/* TIMELINE */
#page3 {
  flex-grow: 1;
  height: 100vh;
  width: 100%;
  background-color: rgb(233, 163, 32);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ABOUT PAGE  */

#page6 {
  flex-grow: 1;
  height: 50vh;
  width: 100%;
  background-color: #2ECC71;
  display: flex;
  justify-content: center;
  align-items: center;
}

#About {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.about-button {
  display: block;
  align-self: auto;

  /* Font Style  */
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #111;
  white-space: nowrap; 
  align-items: center;

  /* Button Style  */
  border-radius: 50px;
  border: 5px solid #111;  
  padding: 10px 20px;
  background-color: #2ECC71;
  transition: transform 0.3s, box-shadow 0.3s;
}

.about-button:hover {
  transform: translateY(-5px);
  /* box-shadow: 0px 20px 12px rgba(40, 128, 185, 0.5); */
}


