/* TIMELINE */
#page3 {
    height: 100vh;
    width: 100%;
    background-color: #D9E4EC;
    display: flex;     
    position: relative;
    overflow: hidden;
}

#timeline {
    padding-left: 8rem;
    padding-right: 8rem;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 5rem;
    z-index: 2;
}

.timeline-title {
    font-size: 5rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 1;
    color: #26AE60;
    text-align: left;
}
 /* LEFT SIDE WEEK NAMES AND TIMELINE  */
.tl-week-name-stack{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tl-week-number {
    color: #26AE60;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
}

/* Timeline will go here  */

.timeline-card-stack {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    height: auto;
    margin-top: 5rem;
}

.tl-wrapper{
    min-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tl-card {
    width: 100%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 1rem;
    border-radius: 4rem;
    border: solid #26AE60;
    background-color: #D9E4EC;
    /* Font Style  */
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;

    
    text-align: center;
    

    transition: background-color 0.5s, color 0.5s;
    /* position: absolute;    */
}

.benefits-list {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    transition: background-color 0.5s, color 0.5s;
    position: absolute;   
    opacity: 0;
    transform: translateY(20px);
}




.tl-card-content1{
    font-family: "Fira Sans", sans-serif;
    font-size: 1.35rem;
    white-space: nowrap;
}

.tl-card-content2 {
    font-family: "Fira Sans", sans-serif;
    font-size: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    color: #111;
    text-align: center;
    word-wrap: normal;
}

.tl-card-content3-list {
    font-family: "Fira Sans", sans-serif;
    font-size: 1.35rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5%;
    margin-left: 1rem;
    margin-right: 1rem;
    white-space: nowrap;
    /* position: absolute;
    bottom: 5%; */
}

.tl-card-list-ruler {
    border-left: 2px solid #26AE60;
    height: 40px;
}

